# Minecraft Bedrock Dedicated Server & Temporary Files
bds_server/
bds_server_clean_tmp/
*.log
*.mcaddon
*.mcpack
*.tmp
__pycache__/

# Windows OS Files
Thumbs.db
Desktop.ini

# Antigravity & Temp Output
.gemini/
out/
